<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.music.mapper.CommentMapper">

    <!-- 结果映射 -->
    <resultMap id="BaseResultMap" type="com.example.music.entity.Comment">

        <id column="id" property="id"/>

        <result column="user_id" property="userId"/>

        <result column="content" property="content"/>

        <result column="music_id" property="musicId"/>

        <result column="parent_id" property="parentId"/>

        <result column="create_time" property="createTime"/>

        <result column="leaf" property="leaf"/>

    </resultMap>

    <!-- 新增评论 -->
    <insert id="addComment">

        INSERT INTO comment
        (
            user_id,
            content,
            music_id,
            parent_id,
            create_time,
            leaf
        )
        VALUES
            (
                #{userId},
                #{content},
                #{musicId},
                #{parentId},
                now(),
                #{leaf}
            )

    </insert>

    <!-- 根据音乐ID查询评论 -->
    <select id="queryById"
            parameterType="int"
            resultMap="BaseResultMap">

        SELECT
            id,
            user_id,
            content,
            music_id,
            parent_id,
            create_time,
            leaf
        FROM comment
        WHERE id = #{id}

    </select>

    <!-- 根据音乐ID查询评论 -->
    <select id="queryByMusicId"
            parameterType="int"
            resultMap="BaseResultMap">

        SELECT
            id,
            user_id,
            content,
            music_id,
            parent_id,
            create_time,
            leaf
        FROM comment
        WHERE music_id = #{musicId}

    </select>

    <select id="queryByParentId"
            parameterType="int"
            resultMap="BaseResultMap">

        SELECT
            id,
            user_id,
            content,
            music_id,
            parent_id,
            create_time,
            leaf
        FROM comment
        WHERE parent_id = #{parentId}

    </select>

    <!-- 修改评论 -->
    <update id="modifyComment">

        UPDATE comment
        SET
            content = #{content},
            parent_id = #{parentId},
            leaf = #{leaf}
        WHERE id = #{id}

    </update>

    <!-- 删除评论 -->
    <delete id="deleteComment">

        DELETE FROM comment
        WHERE id = #{id}

    </delete>

</mapper>